<%- include("includes/head.ejs") %>
    
<%- include("includes/navigation.ejs") %>
    
<main>
    <h1>Some Error Occured!</h1>
    <p>We're working on fixing this. Sorry for the inconvenience!</p>
    <a href="/" class="btn">Back To Home</a>
</main>

<%- include("includes/end.ejs") %>